body {
    font-family: arial;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 2em;
    margin-bottom: 2em;
}

header {
    display: flex;
    justify-content: center;
}

.name__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name__box p {
    margin: 2em;
    font-size: 1.1em;
}

button {
    background-color: #C0C4CC;
    border: 1px solid #C0C4CC;
    border-radius: 2%;
    height: 2em;
    width: 8em;
    font-size: large;
    color: black;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: #ECEDEE;
}

.buttons {
    display: flex;
    width: 20em;
    justify-content: space-between;
}

#copied {
    margin: 0;
    padding: 0;
    margin-left: 2em;
    color: red;
}